<div class="page-holder row">
  <div class="left">
  </div>
  <div class="column right">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <%= render 'form', message: @message, title: "Send an Email" %>
  </div>

</div>


