<div class="page-holder row">
  <div class="left">
  </div>
  <div class="column right" style="background-image: url(<%= image_url('form_bg.svg')%>)">
    <% if flash[:message] %>
      <p class="notice"><%= flash[:message] %></p>
    <% end %>

    <%= render 'form', message: @message, title: "Send an Email" %>
  </div>

</div>


