<p> 
        <strong>Subject:</strong>
        <%= @message.subject %>
      </p>


      <p>
        <strong>Your Email:</strong>
        <%= @message.sender %>
      </p>

      <p>
        <strong>To:</strong>
        <%= @message.receiver %>
      </p>

      <p>
        <strong>Message:</strong>
        <pre>
          <%= @message.body %>
        </pre>
      </p>