@import './components';

.message-holder {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
  .column {
    align-items: center;
    width: 90%;
    font-size: 1.6em;
    
    @media #{$medium-mq} {
      width: 80%;
      font-size: .8em;
    }

    @media #{$large-mq} {
      width: 50%;
    }
  }

  .action-btn {
    text-decoration: none;
    color: white;
    padding: 1em;
    border-radius: 5px;
    transition: .5s;
    margin-bottom: 1em;

    &:hover {
      cursor: pointer;
    }
  }

  .new-btn {
    background-color: rgb(0, 185, 154);
    align-self: center;
    
    &:hover {
      background-color: $secondary-blue;
    }
  }
  
  .view-btn {
    background-color: grey;

    &:hover {
      background-color: rgb(0, 122, 102);
    }
  }
}

  .message-container {
    width: 90%;

    p {
      white-space: pre-wrap;
    }

    .email-body {
      font-size: 1em;
    }
  }